@model toDo.Models.Todo

<h1>@ViewData["Title"]</h1>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form method="POST">
  <div class="mb-3">
    <label asp-for="Title">Title</label>
    <input asp-for="Title" class="form-control">
    <span asp-validation-for="Title" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label asp-for="Deadline">Deadline</label>
    <input asp-for="Deadline" type="date" class="form-control">
    <span asp-validation-for="Deadline" class="text-danger"></span> 
  </div>

  <button class="btn btn-primary" type="submit">Send</button>
  <a asp-controller="Todo" asp-action="Index" class="btn btn-danger">Cancel</a>
</form>